// Typography
+font("opensans-regular", opensans-regular)
+font("gothampro-regular", gothampro-regular)

$os-reg:				 "opensans-regular"
$gothampro-reg:		 "gothampro-regular"

// Text
p
	color: $text
	font-size: $text-reg //16px
	line-height: $line-height-base //1.36
	> a
		color: $blue
		text-decoration: underline
	> i
		display: inline-block
		vertical-align: middle
		margin-right: 10px

// Headings
h1, h2, h3, h4, h5, h6
	color: $text
	line-height: 1

h2
	font-size: $text-lg //30px
h3
	font-size: $text-md //18px
h4
	font-size: $text-reg //16px