---
title: index page
mainClasses: main
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="preview">
	<div class="inner">
		<div class="preview-container">
			<div class="preview__desc">
				<h1>Займы на все случаи жизни</h1>
				<p>Мы работаем быстро, без залога и поручителей. <br>Выдаем займы на выгодных условиях. <br>Нам доверяют!</p>
				<button type="button" class="btn btn-blue">Заказать обратный звонок</button>
			</div>
		</div>
		<!-- END preview-container -->
	</div>
</section>
<!-- END preview -->

<section id="homepage">
	<div class="inner">
		<ul class="list list-wave">
			<li>
				<div class="wave">
					<div class="wave__top">
						<div class="icon-centered"><i class="icon-list"></i></div>
					</div>

					<div class="wave__bottom">
						<p>Заполните заявку в одном из офисов компании, либо по телефону</p>
					</div>
				</div>
			</li>

			<li>
				<div class="wave">
					<div class="wave__top">
						<div class="icon-centered"><i class="icon-list"></i></div>
					</div>

					<div class="wave__bottom">
						<p>Заполните заявку в одном из офисов компании, либо по телефону</p>
					</div>
				</div>
			</li>

			<li>
				<div class="wave">
					<div class="wave__top">
						<div class="icon-centered"><i class="icon-list"></i></div>
					</div>

					<div class="wave__bottom">
						<p>Заполните заявку в одном из офисов компании, либо по телефону</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<section id="takeborrowing">
	<div class="inner">
		<h2>takeborrowing</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium laborum nihil, mollitia obcaecati expedita, commodi soluta nam impedit repellat exercitationem reprehenderit id saepe, dignissimos quaerat fuga quas eveniet culpa!</p>
	</div>
</section>

<section id="repayborrowing">
	<div class="inner">
		<h2>repayborrowing</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus consequuntur, molestias, nesciunt asperiores quod eaque aspernatur doloribus obcaecati consequatur sapiente, placeat fugit. Iste expedita sit assumenda iusto optio, aperiam rem.</p>
	</div>
</section>

<section id="documents">
	<div class="inner">
		<h2>documents</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto modi totam quidem quia, tempore praesentium id esse distinctio deserunt doloribus aut est pariatur provident doloremque dignissimos. Voluptas repudiandae, velit asperiores.</p>
	</div>
</section>

<section id="contacts">
	<div class="inner">
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolores exercitationem ab quas minus, vel sed nostrum eius expedita id odio accusamus veritatis, autem sapiente fugit numquam corrupti adipisci recusandae.</p>
	</div>
</section>

{% endblock %}
