---
title: index page
mainClasses: main
---
{% extends "layouts/_layout.html" %}

{% block content %}
<header class="header">
	<nav class="nav nav__header">
		<ul class="menu menu__header">
			<li class="menu__item"><a href="/" class="menu__link" title="Главная">Главная</a></li>
			<li class="menu__item"><a href="/" class="menu__link" title="Взять займ">Взять займ</a></li>
			<li class="menu__item"><a href="/" class="menu__link" title="Погасить займ">Погасить займ</a></li>
			<li class="menu__item"><a href="/" class="menu__link" title="Документы">Документы</a></li>
			<li class="menu__item"><a href="/" class="menu__link" title="Контакты">Контакты</a></li>
		</ul>
	</nav>
</header>
<!-- END header -->

{% endblock %}
