---
title: index page
mainClasses: main
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="preview" id="homepage">
	<div class="inner">
		<div class="preview-container">
			<div class="preview__desc">
				<h1>Займы на все случаи жизни</h1>
				<p>Мы работаем быстро, без залога и поручителей. <br>Выдаем займы на выгодных условиях. <br>Нам доверяют!</p>
				<button type="button" class="btn btn-blue js-open-callback">Заказать обратный звонок</button>
			</div>
		</div>
		<!-- END preview-container -->
	</div>
</section>
<!-- END preview -->

<section>
	<div class="inner">
		<ul class="list list-wave">
			<li>
				<div class="wave">
					<div class="wave__top"><div class="icon-centered"><i class="icon-list"></i></div></div>
					<div class="wave__bottom"><p>Заполните заявку в одном из офисов компании, либо по телефону</p></div>
				</div>
			</li>

			<li>
				<div class="wave">
					<div class="wave__top"><div class="icon-centered"><i class="icon-clock"></i></div></div>
					<div class="wave__bottom"><p>Заполните заявку в одном из офисов компании, либо по телефону</p></div>
				</div>
			</li>

			<li>
				<div class="wave">
					<div class="wave__top"><div class="icon-centered"><i class="icon-rub"></i></div></div>
					<div class="wave__bottom"><p>Заполните заявку в одном из офисов компании, либо по телефону</p></div>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="takeborrowing" id="takeborrowing">
	<div class="inner">
		<div class="inner__in">
			<h2 class="title-sub">Заполните заявку по телефону</h2>
			<ul class="list">
				<li><p>- Позвоните по телефону<a href="tel:89177102525"> 8-917-710-25-25</a></p></li>
				<li><p>- С помощью менеджера оформите заявку на займ</p></li>
				<li><p>- Узнайте решение о выдаче займа не выходя из дома</p></li>
				<li><p>- Получите наличные в офисе компании</p></li>
			</ul>

			<h2 class="title-sub">Прийти к нам в офис</h2>
			<ul class="list">
				<li><p>- Выберите удобный для Вас офис (найти офис на карте можно здесь)</p></li>
				<li><p>- Оформить заявку на займ (нужен только паспорт)</p></li>
				<li><p>- Получить деньги наличными в течении 15 минут</p></li>
			</ul>

			<h2 class="title-sub">Требования к заемщику</h2>
			<p>Компания предоставляет займы гражданам РФ, имеющим постоянный источник дохода, в возрасте от 18 до 65 лет. При этом необходимо соответствовать критериям проживания:</p>

			<ul class="list">
				<li><p>- заемщик должен иметь постоянную регистрацию в регионе присутствия Компании;</p></li>
				<li><p>- для оформления займа необходим Паспорт гражданина РФ.</p></li>
			</ul>

			<h2 class="title-sub title-red">Компания «ДеньгиСрочноВсем» оставляет за собой право отказать в получении займа без объяснения причины.</h2>

			<ul class="list list-wave rotate">
				<li>
					<div class="wave">
						<div class="wave__top"><div class="icon-centered"><i class="icon-cash"></i></div></div>
						<div class="wave__bottom"><p>Погасить задолжность по займу можно наличными в любом офисе компании "ДЕНЬГИСРОЧНОВСЕМ"</p></div>
					</div>
				</li>

				<li>
					<div class="wave">
						<div class="wave__top"><div class="icon-centered"><i class="icon-home"></i></div></div>
						<div class="wave__bottom"><p>Безналичным платежом на расчетный счет нашей компании</p></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- END takeborrowing -->

<section id="repayborrowing">
	<div class="inner">
		<div class="inner__in">
			<h2 class="title-sub">Наличными</h2>
			<p>Погасить задолженность по займу можно наличными в любом офисе Компании «ДеньгиСрочноВсем». Если у вас нет возможности лично оплатить задолженность по займу, вы можете попросить знакомого вам человека оплатить задолженность. Для оплаты он должен знать ваше полное ФИО и номер договора.</p>

			<h2 class="title-sub">Банковским переводом</h2>
			<p>Безналичным платежом на расчетный счет нашей компании. Для этого необходимы:</p>
			<ul class="list">
				<li><p>- паспорт</p></li>
				<li><p>- реквизиты Компании (реквизиты можно посмотреть <a href="/">здесь</a>)</p></li>
			</ul>

			<p>Сумму задолженности и номер договора займа необходимо указать в назначении платежа. Узнать сумму задолженности можно в офисе Компании «ДеньгиСрочноВсем» или позвонив по телефону <a href="tel:89177102525">8-917-710-25-25</a></p>

			<h2 class="title-sub">Требования к заемщику</h2>
			<p>Компания предоставляет займы гражданам РФ, имеющим постоянный источник дохода, в возрасте от 18 до 65 лет. При этом необходимо соответствовать критериям проживания:</p>

			<ul class="list">
				<li><p>- заемщик должен иметь постоянную регистрацию в регионе присутствия Компании;</p></li>
				<li><p>- для оформления займа необходим Паспорт гражданина РФ.</p></li>
			</ul>

			<h2 class="title-sub title-purple">Обратите внимание, что в банке могут взимать дополнительную комиссию.</h2>
		</div>
	</div>
</section>
<!-- END repayborrowing -->

<div class="fancy-gallery">
	<div class="inner">
		<div class="grid grid-normal-spacing">
			<div class="grid-4-col">
				<div class="grid__item">
					<a href="img/item-00.jpg" data-fancybox="images">
						<img src="img/item-00.jpg" alt="" />
						<div class="fancy-desc">
							<i class="icon-lupe-plus"></i>
							<p>Свидетельство<br> о внесении <br>в реестр<br> МФО</p>
						</div>
					</a>
				</div>

				<div class="grid__item">
					<a href="img/item-01.jpg" data-fancybox="images">
						<img src="img/item-01.jpg" alt="" />
						<div class="fancy-desc">
							<i class="icon-lupe-plus"></i>
							<p>Свидетельство<br> о внесении <br>в реестр<br> МФО</p>
						</div>
					</a>
				</div>

				<div class="grid__item">
					<a href="img/item-02.jpg" data-fancybox="images">
						<img src="img/item-02.jpg" alt="" />
						<div class="fancy-desc">
							<i class="icon-lupe-plus"></i>
							<p>Свидетельство<br> о внесении <br>в реестр<br> МФО</p>
						</div>
					</a>
				</div>

				<div class="grid__item">
					<a href="img/item-03.jpg" data-fancybox="images">
						<img src="img/item-03.jpg" alt="" />
						<div class="fancy-desc">
							<i class="icon-lupe-plus"></i>
							<p>Свидетельство<br> о внесении <br>в реестр<br> МФО</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END fancy-gallery -->

<section class="pdf" id="pdf">
	<div class="inner">
		<a href="pdf/file-00.pdf" download="">Общие условия предоставления, использования и возврата потребительских займов</a>
		<a href="pdf/file-01.pdf" download="">Политика в отношении обработки персональных данных</a>
		<a href="pdf/file-02.pdf" download="">Положение об обеспечении сохранности конфедициальной информации</a>
		<a href="pdf/file-03.pdf" download="">Положения об обработке и защите персональных данных</a>
		<a href="pdf/file-04.pdf" download="">Правила предоставления микрозаймов</a>
		<a href="pdf/file-05.pdf" download="">Список аффилированных лиц</a>
		<a href="pdf/file-06.pdf" download="">Условия предоставления, использования и возврата потребительского микрозайма</a>
	</div>
</section>
<!-- END pdf -->

<section class="contacts" id="contacts">
	<div class="inner">
		<h2 class="title-sub">КОНТАКТЫ</h2>
		<p>Адреса офисов:</p>
		<ul class="list">
			<li><p>— г. Йошкар-Ола, Ул. Воинов-Интернационалистов, 27</p></li>
		</ul>

		<p>Контактный номер телефона: 8 (917) 710-25-25</p>
		<ul class="list">
			<li><p>— г. Йошкар-Ола, Ул. Баумана, 11Б 2 этаж</p></li>
		</ul>

		<p>Контактный номер телефона: <a href="tel:89877154555">8 (987) 715-45-55</a></p>
		<p>Контактный email: <a href="mailto:mdzenit12@gmail.com">mdzenit12@gmail.com</a></p>

		<h2 class="title-sub">РЕКВИЗИТЫ</h2>
		<p>Общество с ограниченной ответственностью Микрокредитная компания «Зенит»</p>
		<p>Свидетельство о внесении сведений о юридическом лице в государственный реестр микрофинансовых организаций: №651503388006500 «25» мая 2015 года</p>

		<p>ИНН 1215173622</p>
		<p>ОГРН 1131215004810</p>
		<p>КПП 121501001</p>

		<p>Банковские реквизиты:</p>
		<p>ФИЛИАЛ «НИЖЕГОРОДСКИЙ» АО «АЛЬФА-БАНК»</p>
		<p>р/сч 40701810029040000024</p>
		<p>к/с 30101810200000000824</p>
		<p>БИК 042202824</p>
		<div class="grid grid-double-spacing">
			<div class="grid-2-col">
				<div class="grid__item">
					<form action="" novalidate="" class="text-left">
						<input type="text" placeholder="Ваше имя" required="">
						<input type="text" placeholder="Ваш контактный номер телефона" required="">
						<textarea name="" id="" cols="20" rows="5" placeholder="Ваше сообщение"></textarea>
						<button type="submit" class="btn btn-blue">Отправить</button>
					</form>
				</div>

				<div class="grid__item">
					<div class="desc">
						<p>Юридический адрес:</p>
						<p>424000, Россия, Республика Марий Эл, г. Йошкар-Ола, ул. Пугачева, д.1, каб.16</p>
						<p>Почтовый адрес:</p>
						<p>424000, Россия, Республика Марий Эл, г. Йошкар-Ола, ул. Советская, д.140</p>
						<p>Главпочтамт а/я 121</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END contacts -->

<section class="maps">
	<div class="inner">
		<div class="grid grid-double-spacing">
			<div class="grid-2-col">
				<div class="grid__item">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2193.8624872030073!2d47.84355161596536!3d56.64223028080056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4159eb6b1b021b33%3A0x205cf645fe95dc23!2z0YPQuy4g0JHQsNGD0LzQsNC90LAsIDExLCDQmdC-0YjQutCw0YAt0J7Qu9CwLCDQoNC10YHQvy4g0JzQsNGA0LjQuSDQrdC7LCDQoNC-0YHRgdC40Y8sIDQyNDAxOQ!5e0!3m2!1sru!2sua!4v1497879745589" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen>
					</iframe>
				</div>

				<div class="grid__item">
					<p>г. Йошкар-Ола, Ул. Воинов-Интернационалистов, 27</p>
					<p>Контактный номер телефона: 8 (917) 710-25-25</p>
				</div>

				<div class="grid__item">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2193.8624872030073!2d47.84355161596536!3d56.64223028080056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4159eb6b1b021b33%3A0x205cf645fe95dc23!2z0YPQuy4g0JHQsNGD0LzQsNC90LAsIDExLCDQmdC-0YjQutCw0YAt0J7Qu9CwLCDQoNC10YHQvy4g0JzQsNGA0LjQuSDQrdC7LCDQoNC-0YHRgdC40Y8sIDQyNDAxOQ!5e0!3m2!1sru!2sua!4v1497879745589" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen>
					</iframe>
				</div>

				<div class="grid__item">
					<p>г. Йошкар-Ола, Ул. Баумана, 11Б 2 этаж</p>
					<p>Контактный номер телефона: 8 (987) 715-45-55</p>
				</div>

				<div class="grid__item">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2193.8624872030073!2d47.84355161596536!3d56.64223028080056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4159eb6b1b021b33%3A0x205cf645fe95dc23!2z0YPQuy4g0JHQsNGD0LzQsNC90LAsIDExLCDQmdC-0YjQutCw0YAt0J7Qu9CwLCDQoNC10YHQvy4g0JzQsNGA0LjQuSDQrdC7LCDQoNC-0YHRgdC40Y8sIDQyNDAxOQ!5e0!3m2!1sru!2sua!4v1497879745589" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen>
					</iframe>
				</div>

				<div class="grid__item">
					<p>г. Чебоксары, Эгерский бульвар, 59</p>
					<p>Контактный номер телефона: 8 (917) 067-16-55</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END maps -->

<footer class="footer">
	<div class="inner">
		<div class="grid">
			<div class="grid-2-col">
				<div class="grid__item">
					<p>© 2017 - Деньги срочно всем - Микрозаймы на выгодных условиях</p>
				</div>

				<div class="grid__item">
					<p>Общество с ограниченной ответственностью <br>Микрокредитная компания "Зенит" ОГРН 1131215004810 <br>Свидетельство о внесении сведений о юридическом лице в государственный реестр <br>микрофинансовых организаций от "25" мая 2015 года за № 651503388006500 <br>Полная стоимость займа составляет от 182,5% до 730,0% годовых</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END footer -->

<div class="popup popup-callback js-callback">
	<div class="popup-container">
		<button class="btn-close js-close-callback" type="button" title="Закрыть"><i class="icon-close"></i></button>
		<h3>Заказать обратный звонок</h3>

		<form action="/">
			<input type="text" placeholder="Ваше имя" required="">
			<input type="text" placeholder="Ваш контактный номер телефона" required="">
			<button type="submit" class="btn btn-blue" title="Отправить">Отправить</button>
		</form>
	</div>
</div>
<!-- END popup -->
{% endblock %}
