{% import "helpers/_mixins.html" as mixins %}
<!doctype html>
<html>
{% include "layouts/_head.html" %}

<body class="{{bodyClasses}}" id="scrollTop">
	<!-- BEGIN content -->
	<main class="{{mainClasses}}">
		{% include "partials/components/_header.html" %}
		{% block content %}

		{% endblock %}
	</main>
	<!-- END content -->

	<a href="#scrollTop" class="js-scroll-to btn-up" title="Scroll top!">up</a>
	<!-- END scroll-top -->

	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
	<!-- END scripts -->
</body>
</html>