// Button
.btn
	outline: none
	cursor: pointer
	border: none
	color: $white
	display: inline-block
	text-align: center
	+font-family($gothampro-reg)
	font-size: $text-reg //16px
	text-decoration: none
	background: none
	position: relative
	line-height: $line-height-base //1.36
	padding: 10px 40px
	will-change: transition, color, background-color
	transition: all .24s ease-in-out
	&:active
		top: 1px
	&:hover
		color: $black
	&-nav
		display: none
		background-color: $white
	&-blue
		background-color: $blue
		color: $white
		border: 1px solid $blue
		&:hover
			background-color: $white
			color: $blue
	&-close
		border: none
		outline: none
		background-color: transparent
		background-image: none
		cursor: pointer
	&-up
		background-color: $blue
		text-decoration: none
		text-align: center
		cursor: pointer
		position: fixed
		opacity: 0
		pointer-events: none
		z-index: -2222
		display: block
		right: 30px
		width: 70px
		height: 70px
		bottom: 30px
		line-height: 70px
		will-change: opacity
		transition: all .25s ease-in-out
		border-radius: 50%
		+hidetext
		&:before
			content: ""
			display: block
			position: absolute
			+sprite($s-icon-up)
			left: 50%
			top: 50%
			-webkit-transform: translate(-50%, -50%)
			-moz-transform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			-o-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
input
	border: 1px solid $gray
	display: inline-block
	width: 100%
	vertical-align: top
	+font-family($gothampro-reg)
	line-height: 1
	padding: 11px 14px
	font-size: 16px
	margin-bottom: 23px
	color: #010000
	+placeholder(#010000)
	transition: all .24s ease-in-out
	will-change: box-shadow
	&:focus
		outline: none
	&:hover
		box-shadow: 0 4px 3px 0 rgba($gray, .50)

textarea
	+font-family($gothampro-reg)
	color: #010000
	+placeholder(#010000)
	font-size: 16px
	padding: 11px 0 0 14px
	border: 1px solid $gray
	box-shadow: 0 2px 3px 0 rgba($gray, .60)
	&:hover
		box-shadow: 0 4px 3px 0 rgba($gray, .50)
	&:focus
		outline: none
