// Footer
.footer
	background-color: $blue
	padding: 35px 0 55px
	+r(769)
		text-align: center
		padding: 30px 0 10px 0
	p
		+font-family($newroman)
		font-weight: 400
		font-size: $text-sm //16px
		color: $white
		line-height: 1.42
		letter-spacing: .028em
	.grid__item
		+r(769)
			width: 100%

