// List
ul.list
	font-size: 0
	&-wave
		text-align: center
		width: 100%
		margin: 40px auto
		li
			display: inline-block
			vertical-align: top
			margin-right: 68px
			&:last-child
				margin-right: 0
		li:nth-child(odd)
			.wave__top
				background-color: $blue
				.icon-centered
					background-color: $white
			.wave__bottom
				background-color: $white
		li:nth-child(even)
			background-color: $white
			.wave__top
				background-color: $white
				.icon-centered
					background-color: $blue
			.wave__bottom
				background-color: $blue
				p
					color: $white