// Main
.main
	background-color: transparent
	padding-top: 87px

// Preview
.preview
	text-align: center
	&-container
		padding: 300px 0 333px 0
		background-image: url("../img/preview-pic.png")
		background-repeat: no-repeat
		background-position: right center
		background-size: 669px 788px
		display: inline-block
		width: 100%
		+clr
		vertical-align: top
	&__desc
		display: inline-block
		vertical-align: top
		float: left
		p
			font-size: $text-reg //16px
			margin-bottom: 35px
		h1
			margin-bottom: 20px

.pdf
	text-align: center
	margin: 80px auto 120px
	padding: 250px 0
	position: relative
	&:before,
	&:after
		content: ""
		display: block
		position: absolute
		left: 50%
		width: 105px
		height: 184px
		transform: translateX(-50%)
		background-repeat: no-repeat
		background-position: center center
	&:before
		background-image: url("../img/pdf-down.png")
		top: 0
	&:after
		background-image: url("../img/pdf-up.png")
		bottom: 0
	a
		text-decoration: none
		+font-family($os-reg)
		font-size: $text-reg //16px
		line-height: 1.25
		display: block
		margin-bottom: 14px
		color: $black
		&:hover
			text-decoration: underline

.contacts
	.grid
		padding: 40px 0 50px
	form
		font-size: 0
		float: left
		textarea
			width: 100%
			margin-bottom: 38px
			resize: none
	.desc
		float: right
		p
			margin-bottom: 15px
			font-size: $text-md //18px
			line-height: 1.11


.fancy
	&-gallery
		font-size: 0
		text-align: center
		a
			border-width: 5px
			border-style: solid
			border-color: transparent
			transition: all .24s ease-in-out
			height: 370px
			display: block
			overflow: hidden
			position: relative
			img
				max-width: 100%
				height: 100%
				display: block
				margin: 0 auto
			&:hover
				border-color: $blue
				.fancy-desc
					opacity: 1
	&-desc
		background-color: rgba($blue, .7)
		position: absolute
		top: 0
		left: 0
		opacity: 0
		right: 0
		transition: all .24s ease-in-out
		bottom: 0
		width: 100%
		padding: 0 50px
		height: 100%
		i.icon-lupe-plus
			+sprite($s-icon-lupe-plus)
			margin: 0 auto
			position: absolute
			top: 30%
			left: 50%
			transform: translate(-50%, -50%)
			-webkit-transform: translate(-50%, -50%)
			-moztransform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			-o-transform: translate(-50%, -50%)
		p
			color: $white
			position: absolute
			bottom: 30px
			left: 50%
			transform: translateX(-50%)
			-webkit-transform: translateX(-50%)
			-moz-transform: translateX(-50%)
			-ms-transform: translateX(-50%)
			-o-transform: translateX(-50%)
			font-size: 16px
			margin-bottom: 0
			font-weight: bold
			text-transform: uppercase
	.grid
		&__item
			padding: 0 30px 0 0
			&:last-child
				padding: 0
