// Main
.main
	background-color: transparent
	padding-top: 87px

// Preview
.preview
	text-align: center
	&-container
		padding-top: 300px
		padding-bottom: 370px
		background-image: url("../img/preview-pic.png")
		background-repeat: no-repeat
		background-position: right center
		background-size: 669px 788px
		display: inline-block
		width: 100%
		+clr
		vertical-align: top
	&__desc
		display: inline-block
		vertical-align: top
		float: left
		p
			font-size: $text-reg //16px
			margin-bottom: 35px
		h1
			margin-bottom: 20px

