.wave
	display: inline-block
	text-align: center
	max-width: 263px
	border-radius: 100px
	position: relative
	overflow: hidden
	box-shadow: 0px 0px 8px 2px rgba($black, 0.5)
	width: 100%
	font-size: 0
	.icon-centered
		vertical-align: middle
		display: inline-block
		border-radius: 50%
		text-align: center
		position: relative
		height: 129px
		width: 129px
		z-index: 2
		i
			-webkit-transform: translate(-50%, -50%)
			-moz-transform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			-o-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
			position: absolute
			top: 50%
			left: 50%
	&__top
		padding: 65px 10px 100px
		display: inline-block
		vertical-align: middle
		width: 100%
		.waves
			bottom: 47%
	&__bottom
		padding: 100px 10px
		+r(569)
			padding: 60px 16px
		p
			font-size: $text-reg //16px
			+font-family($newroman)
			display: inline-block
			font-weight: bold
			text-transform: uppercase
		.waves
			top: 100%


.waves
	will-change: transform
	transition: all .24s ease-in-out
	position: absolute
	display: block
	left: 50%
	width: 500px
	height: 500px
	margin-left: -250px
	margin-top: -250px
	transform-origin: 50% 48%
	background-color: $blue
	border-radius: 48%
	animation: drift 11s infinite linear
	&:before, &:after
		content: ""
		display: block
		position: absolute
		top: 0
		right: 0
		border-radius: 43%
		background-color: $blue
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		animation: drift 13s infinite linear

@keyframes drift
	from
		transform: rotate(-60deg)
	to
		transform: rotate(360deg)
